.position-redes{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.border{
    width: 41px;
    padding: 10px;
    cursor: pointer;
    border: solid 1px #fff;
    border-radius: 25px;
}

.button-contato{
    color: #fff;
    font-weight: 600;
    width: 35%;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, #777CF4 2.62%, #F47777 93.38%);
}