<div class="pt-2" style="display: flex;">
    <img class="img-icon" src="{{ img }}" alt="">
    <div class="w-100 px-2" style="display: flex; align-items: center;">
        <div class="progress2 progress-moved" style="width: 100%;">
            <div class="progress-bar" style="height:24px; width: {{calculaPorcentagem()}}%">
                <p class="m-0" style="color: var(--title-bar);">{{tempo_anos}} anos</p>
            </div>
        </div>
        <!-- <div style="margin-left: 5px; display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div *ngIf="tec_empresa.includes('prefeitura');" class="circle-empresa" style="background-color: #f02b2b"></div>
            <div *ngIf="tec_empresa.includes('abe3');" class="circle-empresa" style="background-color: #ffc200"></div>
            <div *ngIf="tec_empresa.includes('itau');" class="circle-empresa" style="background-color: #2f329c"></div>
        </div> -->
    </div>
</div>