<div style="position: absolute;">
<input (change)="setTheme()" type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="checkbox-label">
    <i style="color: #ffc200; font-size: 18px;" class="material-icons">light_mode</i>
    <i style="color: #fff; font-size: 18px;" class="material-icons">dark_mode</i>
    <span class="ball"></span>
  </label>
</div>

<div style="height: 100%; background-color: var(--body);">
  <div class="row m-0" style="padding: 3rem 3rem 3rem 3rem;">
    <div class="border-superior p-0 m-0"></div>
    <div class="div-perfil col-xs-12 col-sm-6 col-md-7 p-4">
      <app-nome-foto></app-nome-foto>
      <div style="padding-top: 5%;">
        <app-educacao></app-educacao>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 p-0">
      <div style="float: right;">
        <div class="div-exp p-4">
          <app-experiencia></app-experiencia>
        </div>
        <div class="p-4 border-inferior" style="padding-top: 13% !important;">
          <app-contato-pessoal></app-contato-pessoal>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="rocket-position">
  <div class="scene">
    <div class="rocket">
        <img style="filter: var(--color-icon);" src="assets/imagens/rocket.png" alt="">
    </div>
  </div>
</div> -->