<div style="position: absolute;">
<input (change)="setTheme()" type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="checkbox-label">
    <i style="color: #fff; font-size: 18px;" class="material-icons">dark_mode</i>
    <i style="color: #ffc200; font-size: 18px;" class="material-icons">light_mode</i>
    <span class="ball"></span>
  </label>
</div>

<div style="height: 100%; background-color: var(--body);">
  <div class="row p-5 m-0">
    <div class="border-superior p-0 m-0"></div>
    <div class="col-7 p-4">
      <app-nome-foto></app-nome-foto>
      <div style="padding-top: 5%;">
        <app-educacao></app-educacao>
      </div>
    </div>

    <!-- <div class="border-inferior p-0 m-0"></div> -->
    <div class="col-5 p-4">
      <app-experiencia></app-experiencia>
      <div style="padding-top: 10%;">
        <app-contato-pessoal></app-contato-pessoal>
      </div>
    </div>
  </div>
</div>